<launch>
	<node name="coordinator" pkg="AU_UAV_ROS" type="coordinator"/>
	<node name="simulator" pkg="AU_UAV_ROS" type="simulator" />
	<node name="ControlMenu" pkg="AU_UAV_ROS" type="ControlMenu" output="screen" />
	<node name="KMLCreator" pkg="AU_UAV_ROS" type="KMLCreator" output="screen" />
</launch>
